*{
  margin: 0;
}

.form-group{
  width: 100%;
}


.form-check-inline{
  margin-top: 5%;
  margin-left: 10%;
}

.botones{
  display: flex;
  justify-content: center;
}

.botonOperacion2{
  width: 80%;
  height: 36px;
}


