<td> {{ paciente?.id_persona?.nombre}} {{paciente?.id_persona?.apellidos}}</td>
<td> {{ paciente?.id_tipo_modalidad_paciente?.nombre}}</td>
<td> {{ paciente?.id_persona?.id_direccion.localidad}}</td>
<td class="reducirCaja" title="{{paciente?.observaciones_medicas}}"> {{ paciente?.observaciones_medicas}}</td>
<td *ngIf="!hayDispositivos">No tiene Dispositivos asociados</td>
<td *ngIf="hayDispositivos">
  <p *ngFor="let item of listaDispositivos; let i = index">
    - {{item?.id_tipo_alarma?.nombre}}
  </p>
</td>
<td> {{paciente?.id_terminal?.id_tipo_situacion?.nombre}}</td>

<td>
  <button type="submit" class="btn btn-outline-warning btn-modify" [routerLink]="['/modificar-user-servicio/editar/', paciente.id]">
    <i class="fas fa-user-edit"></i>
  </button>
  <button type="button" class="btn btn-outline-danger m-1" (click)="modalConfirmacion()"
  ><i class="fa fa-trash"></i></button>
  <button type="button" class="btn btn-outline-success m-1"  [routerLink]="['/usuarios_del_servicio/informacion/', paciente.id]">
    <i class="fa fa-eye"></i>
  </button>
</td>


