<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/agenda']">Agenda</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear agenda</li>
      </ol>
    </nav>
    <h1 class="component-title">Crear nueva agenda</h1>
    <form #nuevoAgendaForm="ngForm">

      <div class="form-group mb-3">
        <label for="paciente" class="form-label">Paciente</label>
        <select class="form-select" id="paciente" name="paciente"
                [(ngModel)]="agenda.id_paciente" required>
          <option class="tipo_agenda_option"
                  *ngFor="let paciente of pacientes"
                  [value]="paciente.id">{{ paciente.id_persona.nombre }} {{ paciente.id_persona.apellidos }}</option>
        </select>
      </div>

      <div class="form-group mb-3">
        <label for="tipo_agenda" class="form-label">Tipo de agenda</label>
        <select class="form-select" id="tipo_agenda" name="tipo_agenda"
                [(ngModel)]="agenda.id_tipo_agenda" required>
          <option class="tipo_agenda_option"
                  *ngFor="let tipo_agenda of tipos_agenda"
                  [value]="tipo_agenda.id">{{ tipo_agenda.nombre }}</option>
        </select>
      </div>

      <div class="form-group mb-3">
        <label for="persona_contacto" class="form-label">Persona de contacto</label>
        <select class="form-select" id="persona_contacto" name="persona_contacto"
                [(ngModel)]="agenda.id_persona" required>
          <option class="tipo_agenda_option"
                  *ngFor="let persona of personas_contacto"
                  [value]="persona.id">{{ persona.nombre }} {{ persona.apellidos }}</option>
        </select>
      </div>

      <div class="form-group mb-3">
        <label for="fecha_registro" class="form-label">Fecha de registro</label>
        <input type="date" name="fecha_registro" id="fecha_registro" class="form-control"
               required maxlength="200" [(ngModel)]="agenda.fecha_registro" #fecha_registro="ngModel">
        <div *ngIf="fecha_registro.invalid && (fecha_registro.dirty || fecha_registro.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="fecha_registro.errors?.required">
            El campo fecha de registro es obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="fecha_prevista" class="form-label">Fecha prevista</label>
        <input type="date" name="fecha_prevista" id="fecha_prevista" class="form-control"
               required maxlength="200" [(ngModel)]="agenda.fecha_prevista" #fecha_prevista="ngModel">
        <div *ngIf="fecha_prevista.invalid && (fecha_prevista.dirty || fecha_prevista.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="fecha_prevista.errors?.required">
            El campo fecha prevista es obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="observaciones" class="form-label">Observaciones</label>
        <textarea rows="4" name="observaciones" id="observaciones" class="form-control"
                  required maxlength="200" [(ngModel)]="agenda.observaciones" #observaciones="ngModel"></textarea>
        <div *ngIf="observaciones.invalid && (observaciones.dirty || observaciones.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="observaciones.errors?.required">
            El campo observaciones es obligatorio.
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-outline-success m-1" (click)="nuevoAgenda()"
              [disabled]="!nuevoAgendaForm.form.valid">
        Guardar
      </button>
      <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/agenda']">
        Volver
      </button>

    </form>
  </div>
</main>
