<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/personas_contacto_alarma']">Persona de contacto en alarma</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear persona de contacto en alarma </li>
      </ol>
    </nav>
    <h1 class="component-title" >Crear persona de contacto en alarma </h1>
    <form #crearPersonaContactoAlarmaForm="ngForm">
      <div class="form-group mb-3">
        <div class="form-group mb-3">
          <label for="alarmas" class="form-label">Alarma</label>
          <select class="form-select" id="alarmas" name="alarmas"
                  [(ngModel)]="personaContactoAlarma.id_alarma" required>
            <option class="relacion_alarma_option" *ngFor="let alarma of alarmas; let i = index"
                    [value]="alarma.id">{{ alarma.id }} - {{alarma.estado_alarma}}</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label for="persona_contacto" class="form-label">Persona Contacto</label>
          <select class="form-select" id="persona_contacto" name="persona_contacto"
                  [(ngModel)]="personaContactoAlarma.id_persona_contacto" required>
            <option class="relacion_persona_contacto_option" *ngFor="let persona_contacto of personas_contacto; let i = index"
                    [value]="persona_contacto.id">{{ persona_contacto.nombre }}</option>
          </select>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="resumen" class="form-label">Acuerdo alcanzado</label>
        <textarea [(ngModel)]="personaContactoAlarma.acuerdo_alcanzado" name="resumen" id="resumen" class="form-control" required></textarea>
      </div>

      <div class="form-group mb-3">
        <label for="fecha_registro" class="form-label">Fecha de registro</label>
        <input type="date" name="fecha_registro" id="fecha_registro" class="form-control"
               required max="{{ anno_actual }}-{{ mes_actual }}-{{ dia_actual }}"
               [(ngModel)]="personaContactoAlarma.fecha_registro" #fecha_registro="ngModel">
        <div *ngIf="fecha_registro.invalid && (fecha_registro.dirty || fecha_registro.touched)"
             class="alert alert-secondary" role="alert">
          <div *ngIf="fecha_registro.errors?.required">
            La fecha de registro es obligatoria
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-success m-1" (click)="nuevaPersonaContactoAlarma()"
              [disabled]="!crearPersonaContactoAlarmaForm.form.valid">
        Guardar
      </button>
      <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/persona_contacto_alarma']">
        Volver
      </button>

    </form>
  </div>
</main>









