<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/copia_seguridad']">Copia seguridad</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear Copia de seguridad</li>
      </ol>
    </nav>
    <h1 class="component-title">Crear nueva copia de seguridad</h1>
    <form #nuevaCopiaForm="ngForm">
      <div class="form-group mb-3">
        <label for="descripcion_copia" class="form-label">Descripción</label>
        <input type="text" name="descripcion_copia" id="descripcion_copia" class="form-control"
               [(ngModel)]="copia.descripcion_copia">
      </div>
      <button type="submit" class="btn btn-outline-success m-1" (click)="nuevaCopia()"
              [disabled]="!nuevaCopiaForm.form.valid">
        Guardar
      </button>
      <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/copia_seguridad']">
        Volver
      </button>
    </form>
  </div>
</main>


