.noResuelta {
  background-color: rgba(255, 0, 0, 0.08);
}

.resuelta {
  background-color: rgba(64, 255, 0, 0.08);
}

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.color-header {
  background-color: #75597D;
}
