<td>{{ historico_agenda.id_agenda !== null ? historico_agenda.id_agenda.id + ' - ' + historico_agenda.id_agenda.id_tipo_agenda.nombre : '' }}</td>
<td>{{ historico_agenda.id_teleoperador.first_name + ' ' + historico_agenda.id_teleoperador.last_name }}</td>
<td>{{ historico_agenda.fecha_llamada }}</td>
<td>{{ historico_agenda.observaciones }}</td>
<td>
  <button type="submit" class="btn btn-outline-secondary btn-modify"
          [routerLink]="['/historico_agenda/modificar', historico_agenda.id]">
    <i class="fa fa-pen"></i>
  </button>
  <!-- Button trigger modal -->
  <button type="submit" class="btn btn-outline-danger m-1" (click)="modalConfirmacion()"
  ><i class="fa fa-trash"></i></button>

</td>


