<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>

        <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/lista-seguimiento-teleoperador']">Seguimiento Teleoperadores</a></li>
        <li class="breadcrumb-item active" aria-current="page">Agenda y Alarmas Resueltas</li>

      </ol>
    </nav>
    <h3 class="component-title">
      Teleoperador: {{peticion.first_name}} {{peticion.second_name}}
    </h3>


    <div style="display: none" id="actualizarPagina"></div>

    <div class="form-group mb-3">
      <input id="campoBusqueda" type="text" class="form-control" placeholder="Busqueda..." [(ngModel)]="inputBusqueda">

    </div>
    <h5 class="m-3">Agendas: {{peticion.agendas_total}}</h5>

    <div class="table-responsive m-2">
      <table id="tableList" class="table table-hover text-center">
        <thead>
        <tr class="table-purple">
          <th (click)="ordenacionTabla(0, 'string')" scope="col">Prioridad <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTabla(1, 'string')" scope="col">Nombre <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTabla(2, 'string')" scope="col">Apellido <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTabla(3, 'string')" scope="col">Tipo Agenda <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTabla(4, 'number')" scope="col">Nº Expediente <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTabla(5, 'numbre')" scope="col">Hora y Fecha <i class="fas fa-sort"></i></th>

          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let agenda of agendas | filtroBusqueda: inputBusqueda | paginate: { itemsPerPage: 10, currentPage: numPaginacion }"
          app-item-agendas-resueltas [agenda]="agenda.id_agenda"
          class="{{agenda.fecha_resolucion === null ? 'noResuelta' : 'resuelta'}}">
        </tr>

        </tbody>
      </table>
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Siguiente"
        responsive="true"
        (pageChange)="numPaginacion = $event"></pagination-controls>
    </div>

    <h5>Alarmas: {{peticion.alarmas_total}}</h5>
    <div class="table-responsive m-2">
      <table id="tableLista" class="table table-hover text-center">
        <thead>
        <tr class="table-purple">
          <th (click)="ordenacionTablas(0, 'string')" scope="col">Estado <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTablas(1, 'string')" scope="col">Hora y Fecha Registro <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTablas(2, 'string')" scope="col">Observaciones <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTablas(3, 'string')" scope="col">Resumen <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTablas(4, 'string')" scope="col">Tipo alarma <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTablas(5, 'string')" scope="col">Paciente UCR <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTablas(6, 'number')" scope="col">Número Terminal <i class="fas fa-sort"></i></th>

        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let alarma of alarmas| filtroBusqueda: inputBusqueda | paginate: { itemsPerPage: 10, currentPage: numPaginacion }"
            item-alarmas-resueltas [alarma]="alarma" class="{{seleccionarFondo(alarma)}}">
        </tr>
        </tbody>
      </table>
      <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" responsive="true" (pageChange)="numPaginacion = $event"></pagination-controls>
    </div>

  </div>
  <div class="boton">
    <button type="button" class="btn btn-outline-secondary mt-3" [routerLink]="['/lista-seguimiento-teleoperador']">
      Volver
    </button>
  </div>
</main>

