<td>{{ personaContactoAlarma.id_alarma?.id }} - {{personaContactoAlarma.id_alarma?.estado_alarma}}</td>
<td>{{ personaContactoAlarma.id_persona_contacto?.nombre }} {{personaContactoAlarma.id_persona_contacto?.apellidos}}</td>
<td>{{ personaContactoAlarma.acuerdo_alcanzado }}</td>
<td>{{ personaContactoAlarma.fecha_registro | date : 'dd/MM/YYYY' }}</td>
<td>

  <button type="submit" class="btn btn-outline-secondary btn-modify" [routerLink]="['/personas_contacto_alarma/modificar', personaContactoAlarma.id]">
    <i class="fa fa-pen"></i>
  </button>
  <button type="submit" class="btn btn-delete m-1" (click)="modalConfirmacion()"
  ><i class="fa fa-trash"></i></button>
</td>
