<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Alarmas</li>
      </ol>
    </nav>





      <h1 class="component-title">
        {{ fecha }} <a class="btn btn-warning ml-2 botonAyuda" target="_blank"
                       [routerLink]="['/boton_info_ayudas','listado_alarmas']">?</a>
      </h1>

      <div style="display: none" id="actualizarPagina"></div>
      <div class="form-group mb-3">
        <input id="campoBusqueda" type="text" class="form-control" placeholder="Busqueda..." [(ngModel)]="inputBusqueda">
      </div>
      <div class="form-group">
        <label for="busquedaPorFecha">Búsqueda por fecha</label>
      </div>
      <button class="btn btn-success float-end mar mb-3" [routerLink]="['/alarmas/nueva']" *ngIf="isAdmin">
        Crear Alarma
      </button>
      <div class="form-group mb-3">
        <input id="busquedaPorFecha" name="busquedaPorFecha" type="date" class="form-control" (ngModelChange)="buscarPorFecha($event)" [(ngModel)]="inputFechaBusqueda">
      </div>

      <div class="table-responsive m-2">
        <table id="tableList" class="table table-hover text-center">
          <thead>
          <tr class="table-purple">
            <th (click)="ordenacionTabla(0, 'string')" scope="col">Estado <i class="fas fa-sort"></i></th>
            <th (click)="ordenacionTabla(1, 'string')" scope="col">Hora Registro <i class="fas fa-sort"></i></th>
            <th (click)="ordenacionTabla(2, 'string')" scope="col">Observaciones <i class="fas fa-sort"></i></th>
            <th (click)="ordenacionTabla(3, 'string')" scope="col">Resumen <i class="fas fa-sort"></i></th>
            <th (click)="ordenacionTabla(4, 'string')" scope="col">Tipo alarma <i class="fas fa-sort"></i></th>
            <th (click)="ordenacionTabla(5, 'string')" scope="col">Paciente UCR <i class="fas fa-sort"></i></th>
            <th (click)="ordenacionTabla(6, 'string')" scope="col">Número Terminal <i class="fas fa-sort"></i></th>
            <th (click)="ordenacionTabla(7, 'string')" scope="col">Teleoperador <i class="fas fa-sort"></i></th>
            <th></th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let alarma of alarmasDelDia| filtroBusqueda: inputBusqueda | paginate: { itemsPerPage: 10, currentPage: numPaginacion }" app-item-alarma [alarma]="alarma" class="{{seleccionarFondo(alarma)}}">
          </tr>
          </tbody>
        </table>
        <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" responsive="true" (pageChange)="numPaginacion = $event"></pagination-controls>
      </div>
    </div>

</main>
