<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <h1 class="component-title">Modificar datos tipo modalidad paciente {{idTipoModalidad}}</h1>
    <form [formGroup]="formulario" (submit)="modificarTipoModalidadPaciente()">
      <div class="form-group mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" name="nombre" id="nombre" class="form-control" formControlName="nombre">
        <div *ngIf="controles.nombre.invalid && (controles.nombre.dirty || controles.nombre.touched)"
             class="alert alert-secondary" role="alert">
          <div *ngIf="controles.nombre.errors?.required">
            El nombre es obligatorio
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-outline-success m-1"
              (click)="modificarTipoModalidadPaciente();mostrarModificarTipo()"
              [disabled]="formulario.invalid" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2"
              aria-expanded="false" aria-controls="collapseWidthExample2">
        Guardar
      </button>
      <button type="button" class="btn btn-outline-secondary m-1" (click)="mostrarModificarTipo()"
              data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false"
              aria-controls="collapseWidthExample2">
        Cancelar
      </button>

    </form>
  </div>
</main>
