<main class="text-center row p-0 m-0 justify-content-center">
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/usuarios']">Usuarios</a></li>
      <li class="breadcrumb-item active" aria-current="page">Modificar usuario {{ idUser }}</li>
    </ol>
  </nav>
  <h1 class="component-title">Modificar datos usuario {{idUser}}</h1>
  <form [formGroup]="formModificarU" (submit)="modificarUser()">

    <div class="form-group mb-3">
      <label for="username" class="form-label">Nombre de usuario</label>
      <input type="text" id="username" class="form-control" formControlName="username"
             required minlength="4" maxlength="20" pattern="^[a-zA-Z0-9](_(?!(\.|_))|\.(?!(_|\.))|[a-zA-Z0-9]){2,18}[a-zA-Z0-9]$">
      <div *ngIf="this.formModificarU.controls.username.invalid && (this.formModificarU.controls.username.dirty || this.formModificarU.controls.username.touched)" class="alert alert-secondary" role="alert">
        <div *ngIf="this.formModificarU.controls.username.errors.required">
          El nombre de usuario es obligatorio
        </div>
        <div *ngIf="this.formModificarU.controls.username.errors?.minlength">
          El nombre de usuario debe tener al menos 4 caracteres
        </div>
        <div *ngIf="this.formModificarU.controls.username.errors?.pattern">
          Introduzca un nombre de usuario válido
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="first_name" class="form-label">Nombre</label>
      <input type="text" id="first_name" formControlName="first_name" class="form-control"
             required maxlength="200" pattern="^[\w'\-,.][^0-9_!¡?÷?¿(\)\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$">
      <div *ngIf="this.formModificarU.controls.first_name.invalid && (this.formModificarU.controls.first_name.dirty || this.formModificarU.controls.first_name.touched)" class="alert alert-secondary" role="alert">
        <div *ngIf="this.formModificarU.controls.first_name.errors?.required; else elseBlock">
          El nombre es obligatorio
        </div>
        <ng-template #elseBlock>
          Introduzca un nombre válido
        </ng-template>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input type="text" id="apellidos" formControlName="last_name" class="form-control"
             required maxlength="200" pattern="^[\w'\-,.][^0-9_!¡?÷?¿(\)\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$">
      <div *ngIf="this.formModificarU.controls.last_name.invalid && (this.formModificarU.controls.last_name.dirty || this.formModificarU.controls.last_name.touched)" class="alert alert-secondary"
           role="alert">
        <div *ngIf="this.formModificarU.controls.last_name.errors?.required; else elseBlock">
          Los apellidos son obligatorios
        </div>
      </div>
      <ng-template #elseBlock>
        Introduzca unos apellidos válidos
      </ng-template>
    </div>

    <div class="form-group mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control" required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <div *ngIf="this.formModificarU.controls.email.invalid && (this.formModificarU.controls.email.dirty || this.formModificarU.controls.email.touched)"
           class="alert alert-secondary" role="alert">
        <div *ngIf="this.formModificarU.controls.email.errors?.required; else elseBlock">
          El email es obligatorio
        </div>
        <ng-template #elseBlock>
          Introduzca un email válido
        </ng-template>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="imagen" class="form-label">Imagen</label>
      <input type="file" class="file-input" id="imagen" class="form-control" formControlName="imagen" (change)="onFileChanged($event)">
    </div>

    <div class="form-group mb-3">
      <label for="groups" class="form-label">Grupo</label>
      <ng-select id="groups" name="grupos" formControlName="groups">
        <ng-option *ngFor="let group of this.grupos; let i = index"
                   [value]="group.pk">{{group.name}}</ng-option>
      </ng-select>
    </div>

   <button type="submit" class="btn btn-outline-success m-1"
           [disabled]="!formModificarU.valid"
           aria-label="Try me! Example: Mixin">
     Guardar
   </button>
   <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/usuarios']">
     Volver
   </button>

  </form>
</div>
</main>












