<main class="p-0 m-0">
  <form [formGroup]="formulario">

    <div class="row mb-4">
      <div class="col-4">
        <div class="form-group">
          <label for="nombre">Nombre <span class="obligatorios">*</span></label>
          <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre"
                 formControlName="nombre">
        </div>
        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-secondary" role="alert">
          <span *ngIf="nombre.errors.required">El Nombre es obligatorio.</span>
          <span *ngIf="nombre.errors.pattern">El Nombre no es válido.</span>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="apellidos">Apellidos <span class="obligatorios">*</span></label>
          <input type="text" name="apellidos" id="apellidos" class="form-control"
                 placeholder="Apellidos" formControlName="apellidos">
        </div>
        <div *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)" class="alert alert-secondary"
             role="alert">
          <span *ngIf="apellidos.errors.required">Los apellidos son obligatorios.</span>
          <span *ngIf="apellidos.errors.pattern">Los apellidos no son válidos.</span>
        </div>

      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="dni">DNI <span class="obligatorios">*</span></label>
          <input type="text" name="dni" id="dni" class="form-control" placeholder="DNI" formControlName="dni">
        </div>
        <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-secondary" role="alert">
          <span *ngIf="dni.errors.required">El DNI es obligatorio.</span>
          <span *ngIf="dni.errors.pattern">El DNI no es válido.</span>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-4">
        <div class="form-group">
          <label for="fecha_nacimiento">Fecha de Nacimiento <span class="obligatorios">*</span></label>
          <input type="date" name="fecha_nacimiento " id="fecha_nacimiento" class="form-control"
                 formControlName="fecha_nacimiento" max="2023-04-18">
        </div>
        <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-secondary" role="alert" >
          <span *ngIf="date.errors.required">La fecha de nacimiento es obligatoria.</span>
          <span *ngIf="date.errors.pattern">La fecha de nacimiento no es válida.</span>
          <span *ngIf="date.errors.maxDate">La fecha de nacimiento no puede ser mayor a la actual.</span>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="sexo">Género</label>
          <select class="form-select" id="sexo" name="sexo" formControlName="sexo">
            <option class="sexo_option" value="Hombre" selected>Hombre</option>
            <option class="sexo_option" value="Mujer">Mujer</option>
          </select>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="telefono_fijo">Télefono Fijo</label>
          <input type="tel" name="telefono_fijo" id="telefono_fijo" class="form-control"
                 placeholder="Teléfono Fijo" formControlName="telefono_fijo">
        </div>
        <div *ngIf="telefono_fijo.invalid && (telefono_fijo.dirty || telefono_fijo.touched)"
             class="alert alert-secondary" role="alert">
          <span *ngIf="telefono_fijo.errors.pattern">Debe empezar por 9 y tener 9 dígitos</span>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-4">
        <div class="form-group">
          <label for="localidad">Localidad <span class="obligatorios">*</span></label>
          <input type="text" name="localidad" id="localidad" class="form-control" placeholder="Localidad"
                 formControlName="localidad">
        </div>
        <div *ngIf="localidad.invalid && (localidad.dirty || localidad.touched)" class="alert alert-secondary"
             role="alert">
          <span *ngIf="localidad.errors.required">La localidad es obligatoria.</span>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="telefono_movil">Teléfono movil</label>
          <input type="tel" name="telefono_movil" id="telefono_movil" class="form-control"
                 placeholder="Teléfono Movil" formControlName="telefono_movil">
        </div>
        <div *ngIf="telefono_movil.invalid && (telefono_movil.dirty || telefono_movil.touched)"
             class="alert alert-secondary" role="alert">
          <span *ngIf="telefono_movil.errors.pattern">Debe empezar por 6 o 7 y tener 9 dígitos</span>
        </div>
      </div>


      <div class="col-4">
        <div class="form-group">
          <label for="provincia">Provincia <span class="obligatorios">*</span></label>
          <input type="text" name="provincia" id="provincia" class="form-control"
                 required maxlength="200" placeholder="Provincia" formControlName="provincia">
        </div>
        <div *ngIf="provincia.invalid && (provincia.dirty || provincia.touched)" class="alert alert-secondary"
             role="alert">
          <span *ngIf="provincia.errors.required">La provincia es obligatoria.</span>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-4">
        <div class="form-group">
          <label for="direccion">Dirección <span class="obligatorios">*</span></label>
          <input type="text" name="direccion" id="direccion" class="form-control"
                 placeholder="Dirección" formControlName="direccion">
        </div>
        <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-secondary"
             role="alert">
          <span *ngIf="direccion.errors.required">La dirección es obligatoria.</span>
        </div>
      </div>


      <div class="col-4">
        <div class="form-group">
          <label for="codigo_postal">Código Postal <span class="obligatorios">*</span></label>
          <input type="text" name="codigo_postal" id="codigo_postal" class="form-control"
                 placeholder="CP" formControlName="codigo_postal">
        </div>
        <div *ngIf="cp.invalid && (cp.dirty || cp.touched)" class="alert alert-secondary" role="alert">
          <span *ngIf="cp.errors.required">El código postal es obligatorio.</span>
          <span *ngIf="cp.errors.pattern">La código postal no es válido.</span>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-4">
        <div class="form-group">
          <label for="tipo_user">Tipo de persona</label>
          <select class="form-select" id="tipo_user" name="tipo_user" required formControlName="tipo_user">
            <option value="Persona mayor">Persona mayor</option>
            <option value="Persona con enfermedad crónica">Persona con enfermedad crónica</option>
            <option value="Persona con enfermedad mental">Persona con enfermedad mental</option>
            <option value="Demencia">Demencia</option>
            <option value="Diversidad funcional sensorial">Diversidad funcional sensorial</option>
            <option value="Diversidad funcional intelectual">Diversidad funcional intelectual</option>
            <option value="Diversidad funcional física">Diversidad funcional física</option>
            <option value="Víctima de violencia de género">Víctima de violencia de género</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="text_area">X</label>
        <textarea placeholder="  (SAD / Centro de Dia)" formControlName="text_area" name="text_area" id="text_area"></textarea>
      </div>
    </div>
    <div *ngIf="text.invalid && (text.dirty || text.touched)" class="alert alert-secondary" role="alert">
      <span *ngIf="text.errors.pattern">No puedes meter espacios en blanco</span>
    </div>

    <button type="submit" class="btn btn-outline-success m-1" (click)="comprobarFormulario()">Guardar
    </button>
    <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/inicio']">Volver</button>

  </form>
</main>
