<td>{{ relacionPacientePersona.id_paciente?.id_persona.nombre }} {{relacionPacientePersona.id_paciente?.id_persona.apellidos}}</td>
<td>{{ relacionPacientePersona.tipo_relacion }}</td>
<td>{{ relacionPacientePersona.id_persona?.nombre }} {{ relacionPacientePersona.id_persona?.apellidos }}</td>
<td>{{ comprobarLlaves() }}</td>
<td>{{ relacionPacientePersona.disponibilidad}}</td>
<td>{{ relacionPacientePersona.observaciones}}</td>
<td>{{ relacionPacientePersona.prioridad}}</td>

<td>

  <button type="submit" class="btn btn-outline-secondary btn-modify" [routerLink]="['/relacion_paciente_persona/modificar', relacionPacientePersona.id]">
    <i class="fa fa-pen"></i>
  </button>
  <button type="submit" class="btn btn-delete m-1" (click)="modalConfirmacion()"
  ><i class="fa fa-trash"></i></button>
</td>

