.texto{
  width: 80%;
  margin: auto;
  border: 2px solid gray;
  padding: 2vh;
  text-align: justify;
  background-color:rgba(142,145,38,0.11);
}
.segundoTitle{
  width: 80%;
  margin: auto;
  padding: 2vh;
  text-align: center;
}


