<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <div class="card m-auto">
      <h1 class="component-title">Crear nuevo tipo agenda</h1>
      <div class="card-body">
        <form [formGroup]="nuevoTipo" (ngSubmit)="onSubmit()">

          <div class="form-group mb-3 row">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control"
                   required maxlength="200" formControlName="nombre">
            <div *ngIf="form.nombre.invalid && (form.nombre.dirty || form.nombre.touched)" class="alert alert-secondary" role="alert">
              <div *ngIf="form.nombre.errors?.required">
                El nombre es obligatorio
              </div>
            </div>
          </div>

          <div class="form-group mb-3 row">
            <label for="codigo" class="form-label">Código</label>
            <input type="text" name="codigo" id="codigo" class="form-control"
                   required maxlength="200" formControlName="codigo">
            <div *ngIf="form.codigo.invalid && (form.codigo.dirty || form.codigo.touched)" class="alert alert-secondary" role="alert">
              <div *ngIf="form.codigo.errors?.required">
                El codigo es obligatorio
              </div>
            </div>
          </div>

          <div class="form-group mb-3 row">
            <label for="importancia" class="form-label">Importancia</label>
            <select name="importancia" id="importancia" formControlName="importancia" class="form-select" required>
              <option *ngFor="let importancia of importanciaArray" [value]="importancia">{{importancia}}</option>
            </select>
            <div *ngIf="form.importancia.invalid && (form.importancia.dirty || form.importancia.touched)" class="alert alert-secondary" role="alert">
              <div *ngIf="form.importancia.errors?.required">
                El campo importancia es obligatorio
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-outline-success m-1"
                  [disabled]="nuevoTipo.invalid">
            Guardar
          </button>
          <button type="button" class="btn btn-outline-secondary m-1" (click)="onReset()">
            Cancelar
          </button>

        </form>
      </div>
    </div>
  </div>
</main>

