<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <div class="m-auto col-12 col-xl-6">
      <h1 class="component-title">Modificar datos tipo agenda {{idTipo}}</h1>
      <div>
        <form [formGroup]="modTipo" (ngSubmit)="onSubmit()">

          <div class="form-group mb-3 row">
            <label for="nombre" class="form-label">Tipo de agenda</label>
            <input type="text" name="nombre" id="nombre" class="form-control"
                   required maxlength="200" formControlName="nombre">
            <div *ngIf="form.nombre.invalid && (form.nombre.dirty || form.nombre.touched)" class="alert alert-secondary" role="alert">
              <div *ngIf="form.nombre.errors?.required">
                El nombre es obligatorio
              </div>
            </div>
          </div>

          <div class="form-group mb-3 row">
            <label for="codigo" class="form-label">Código</label>
            <input type="text" name="codigo" id="codigo" class="form-control"
                   required maxlength="200" formControlName="codigo">
            <div *ngIf="form.codigo.invalid && (form.codigo.dirty || form.codigo.touched)" class="alert alert-secondary" role="alert">
              <div *ngIf="form.codigo.errors?.required">
                El código es obligatorio
              </div>
            </div>
          </div>

          <div class="form-group mb-3 row">
            <label for="importancia" class="form-label">Importancia</label>
            <div class="row p-0 m-0">
              <div class="p-0 pb-1 pb-lg-0 w-100">
                <ng-select name="importancia" id="importancia" formControlName="importancia" required>
                  <ng-option *ngFor="let importancia of importanciaArray; let i = index" [value]="importancia">
                    {{importancia}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div *ngIf="form.importancia.invalid && (form.importancia.dirty || form.importancia.touched)" class="alert alert-secondary" role="alert">
              <div *ngIf="form.importancia.errors?.required">
                El campo importancia es obligatorio.
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-outline-success m-1" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2"
                  [disabled]="modTipo.invalid">
            Guardar
          </button>
          <button type="button" class="btn btn-outline-secondary m-1" (click)="onReset()" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2">
            Cancelar
          </button>

        </form>
      </div>
    </div>
  </div>
</main>
