<td>{{ recurso_comunitario.nombre }}</td>
<td>{{ recurso_comunitario.telefono }}</td>
<td>{{ recurso_comunitario?.id_tipos_recurso_comunitario?.nombre }}</td>
<td>{{ recurso_comunitario?.id_direccion?.localidad }}</td>
<td>{{ recurso_comunitario?.id_direccion?.provincia}}</td>
<td>{{ recurso_comunitario?.id_direccion?.codigo_postal}}</td>
<td>{{ recurso_comunitario?.id_direccion?.direccion}}</td>
<td>
  <!-- Botón para ver el recurso específico -->
  <button [routerLink]="['/recursos_comunitarios/ver_recursos',recurso_comunitario.id]" class="btn btn-outline-info m-1"><i class="fa fa-eye"></i></button>
  <!-- Botón para modificar el recurso comunitario-->
  <button type="submit" class="btn btn-outline-warning"
          [routerLink]="['/recursos_comunitarios/modificar',recurso_comunitario.id]">
    <i class="fa fa-pen"></i>
  </button>
  <!-- Botón para borrar el recurso comunitario -->
  <button (click)="modalConfirmacion()" type="submit" class="btn btn-outline-danger m-1"><i class="fa fa-trash"></i></button>
</td>

