<h1 class="component-title text-center">Modificar Vivienda {{idVivienda}}</h1>
<form [formGroup]="formulario" (submit)="modificarVivienda()">
  <div class="form-group mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" name="nombre" id="nombre" class="form-control"
           required maxlength="200" formControlName="nombre">
    <div *ngIf="controles.nombre.invalid && (controles.nombre.dirty || controles.nombre.touched)"
         class="alert alert-secondary" role="alert">
      <div *ngIf="controles.nombre.errors?.required">
        El nombre es obligatorio
      </div>
    </div>
  </div>

  <div class="text-center">
    <button type="button" class="btn btn-outline-success m-1" (click)="modificarVivienda()"
            [disabled]="formulario.invalid" data-bs-toggle="collapse"
            data-bs-target="#vivienda2" aria-expanded="false" aria-controls="vivienda2">
      Guardar
    </button>
    <button type="button" class="btn btn-outline-secondary m-1" (click)="mostrarModificarTipo()" data-bs-toggle="collapse"
            data-bs-target="#vivienda2" aria-expanded="false" aria-controls="vivienda2">
      Cancelar
    </button>
  </div>

</form>
