<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/agenda']">Agenda</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modificar agenda {{idAgenda}}</li>
      </ol>
    </nav>
    <h1 class="component-title">Modificar datos agenda {{idAgenda}}</h1>
    <form [formGroup]="modAgenda" (ngSubmit)="onSubmit()">

      <div class="form-group mb-3 row">
        <div class="col-8">
          <div class="row">
            <label for="idPaciente" class="form-label col-12 text-start p-0">Paciente</label>
          </div>
          <div class="row col-12 p-0 pb-1 pb-lg-0">
            <ng-select name="idPaciente" id="idPaciente" class="p-0"
                    formControlName="paciente" (change)="obtenerExpediente()" required>
              <ng-option *ngFor="let paciente of pacientes" [value]="paciente.id">
                {{paciente?.id_persona.nombre + ' ' + paciente?.id_persona.apellidos}}
              </ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <label for="n_expediente" class="form-label col-12 text-start p-0">Nº Expediente</label>
          </div>
          <div class="row">
            <input type="text" class="form-control" id="n_expediente" name="n_expediente"
                   formControlName="n_expediente" disabled>
          </div>
          <div *ngIf="form.n_expediente.invalid && (form.n_expediente.dirty || form.n_expediente.touched)" class="alert alert-secondary" role="alert">
            <div *ngIf="form.n_expediente.errors?.required">
              El campo nº expediente es obligatorio.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group mb-3 row">
        <label for="id_tipo_agenda" class="form-label p-0">Tipo agenda</label>
        <div class="row p-0 m-0">
          <div class="p-0 pb-1 pb-lg-0 w-100">
            <ng-select name="id_tipo_agenda" id="id_tipo_agenda" formControlName="tipo_agenda" required (change)="obtenerImportancia()">
              <ng-option class="agenda_option" *ngFor="let tipo_agenda of tipos_agenda; let i = index" [value]="tipo_agenda.id">
                {{tipo_agenda.nombre}}
              </ng-option>
            </ng-select>
          </div>
        </div>
        <div *ngIf="form.tipo_agenda.invalid && (form.tipo_agenda.dirty || form.tipo_agenda.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="form.tipo_agenda.errors?.required">
            El campo tipo de agenda es obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group mb-3 row">
        <label for="importanciaSelect" class="form-label p-0">Importancia</label>
        <input name="importanciaSelect" id="importanciaSelect" formControlName="importancia" class="form-control" disabled>
        <div *ngIf="form.importancia.invalid && (form.importancia.dirty || form.importancia.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="form.importancia.errors?.required">
            El campo importancia es obligatorio
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="fecha_prevista" class="form-label">Fecha prevista</label>
        <input type="datetime-local" name="fecha_prevista" id="fecha_prevista" class="form-control"
               required maxlength="200" formControlName="fecha_prevista" [value]="agenda.fecha_prevista" placeholder="{{agenda.fecha_prevista}}">
        <div *ngIf="form.fecha_prevista.invalid && (form.fecha_prevista.dirty || form.fecha_prevista.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="form.fecha_prevista.errors?.required">
            La fecha prevista es obligatoria.
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="observaciones" class="form-label">Observaciones</label>
        <textarea rows="5" cols="50" name="observaciones" id="observaciones" class="form-control"
                  required maxlength="200" formControlName="observaciones"></textarea>
        <div *ngIf="form.observaciones.hasError('required')" class="alert alert-secondary" role="alert">
          El campo observaciones es obligatorio.
        </div>
        <div *ngIf="form.observaciones.hasError('minlength')" class="alert alert-secondary" role="alert">
          El campo observaciones necesita un mínimo de 10 caracteres.
        </div>
      </div>

      <button type="submit" class="btn btn-outline-success m-1"
              [disabled]="!modAgenda.valid">
        Guardar
      </button>
      <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/agenda']">
        Volver
      </button>

    </form>
  </div>
</main>
