<main class="row p-0 m-0 justify-content-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page" *ngIf="!blockModificar">Modificar usuario</li>
      <li class="breadcrumb-item active" aria-current="page" *ngIf="blockModificar">Consultar usuario</li>
    </ol>
  </nav>

  <div class="row mb-3">
    <div class="col-12 d-flex justify-content-end align-items-center">
      <h1 class="component-title text-center align-self-center mx-auto" *ngIf="!blockModificar">Editar usuario del
        servicio</h1>
      <h1 class="component-title text-center align-self-center mx-auto desp" *ngIf="blockModificar">Información del
        usuario
        del servicio</h1>
      <button class="btn btn-primary btn-underline tamanoButton" *ngIf="blockModificar"
              (click)="toggleFormularios()" data-bs-toggle="collapse"
              [attr.data-bs-target]="generadorIds()">{{ formulariosDesplegados ? 'Plegar' : 'Desplegar' }}</button>
    </div>
  </div>


  <div class="row mb-1 mt-1">
    <h4 class="formularios d-flex align-items-center justify-content-between" (click)="toggleIndividual(1)"
        [ngClass]="blockModificar?'pulsar':''">
      Datos Personales
      <i class="fas fa-chevron-down" [ngClass]="{'fa-chevron-up': this.mostrar, 'fa-chevron-down': !this.mostrar}"></i>
    </h4>
    <div class="m-auto col-10 form-container p-3">
      <div class="collapse show" id="datosPersonales" [ngbCollapse]="!mostrar">
        <app-modificar-persona (plegar)="pruebas($event);this.mostrar2=!this.mostrar2" [blockEditar]="blockModificar">
        </app-modificar-persona>
      </div>
    </div>
  </div>

  <div class="row mb-1 mt-1">
    <h4 class="formularios d-flex align-items-center justify-content-between" (click)="toggleIndividual(2)"
        [ngClass]="blockModificar?'pulsar':''">
      Datos Sanitarios
      <i class="fas fa-chevron-down"
         [ngClass]="{'fa-chevron-up': this.mostrar2, 'fa-chevron-down': !this.mostrar2}"></i>
    </h4>
    <div class="m-auto col-10  p-3">
      <div [ngClass]="blockModificar?'show':''" class="collapse" id="datosSanitarios" [ngbCollapse]="!mostrar2">
        <app-editar-datos-sanitario (plegar)="this.mostrar2=$event;this.mostrar3=!this.mostrar3"
                                    (desplegar)="this.mostrar=$event;this.mostrar2=!this.mostrar2"
                                    [blockEditar]="blockModificar">
        </app-editar-datos-sanitario>
      </div>
    </div>
  </div>

  <div class="row mb-1 mt-1">
    <h4 class="formularios d-flex align-items-center justify-content-between" (click)="toggleIndividual(3)"
        [ngClass]="blockModificar?'pulsar':''">
      Vivienda
      <i class="fas fa-chevron-down"
         [ngClass]="{'fa-chevron-up': this.mostrar3, 'fa-chevron-down': !this.mostrar3}"></i>
    </h4>
    <div class="m-auto col-10 p-3">
      <div [ngClass]="blockModificar?'show':''" class="collapse" id="viviendaForm" [ngbCollapse]="!mostrar3">
        <app-editar-tipo-vivienda (plegar)="this.mostrar3=$event;this.mostrar4=!this.mostrar4"
                                  (desplegar)="this.mostrar2=$event;this.mostrar3=!this.mostrar3"
                                  [blockEditar]="blockModificar">
        </app-editar-tipo-vivienda>
      </div>
    </div>
  </div>

  <div class="row mb-1 mt-1">
    <h4 class="formularios d-flex align-items-center justify-content-between" (click)="toggleIndividual(4)"
        [ngClass]="blockModificar?'pulsar':''">
      Personas de Contacto
      <i class="fas fa-chevron-down"
         [ngClass]="{'fa-chevron-up': this.mostrar4, 'fa-chevron-down': !this.mostrar4}"></i>
    </h4>
    <div class="m-auto col-10 p-3">
      <div [ngClass]="blockModificar?'show':''" class="collapse" id="personaContacto" [ngbCollapse]="!mostrar4">
        <app-editar-contacto (plegar)="this.mostrar4=$event;this.mostrar5=!this.mostrar5"
                             (desplegar)="this.mostrar3=$event;this.mostrar4=!this.mostrar4"
                             [blockEditar]="blockModificar">
        </app-editar-contacto>
      </div>
    </div>
  </div>


  <div class="row mb-1 mt-1">
    <h4 class="formularios d-flex align-items-center justify-content-between" (click)="toggleIndividual(5)"
        [ngClass]="blockModificar?'pulsar':''">
      Dispositivos
      <i class="fas fa-chevron-down"
         [ngClass]="{'fa-chevron-up': this.mostrar5, 'fa-chevron-down': !this.mostrar5}"></i>
    </h4>
    <div class=" m-auto col-10 p-3 form-container">
      <div [ngClass]="blockModificar?'show':''" class="collapse " id="dispositivosForm" [ngbCollapse]="!mostrar5">
        <app-dispositivos-editar
          (desplegar)="this.mostrar4=$event;this.mostrar5=!this.mostrar5"
          [blockEditar]="blockModificar">
        </app-dispositivos-editar>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-outline-secondary m-1" [routerLink]="['/usuarios_del_servicio/consultar']" *ngIf="blockModificar">
      Volver
    </button>
  </div>
</main>
