<td>{{ relacionUsuarioCentro.id_paciente?.id_persona?.nombre }} {{ relacionUsuarioCentro.id_paciente?.id_persona?.apellidos}}</td>
<td>{{ relacionUsuarioCentro.id_centro_sanitario?.nombre }}</td>
<td>{{ relacionUsuarioCentro.id_centro_sanitario?.id_tipos_centro_sanitario?.nombre }}</td>
<td>{{ relacionUsuarioCentro.id_centro_sanitario?.telefono }}</td>
<td>{{ relacionUsuarioCentro.persona_contacto }}</td>
<td>{{ relacionUsuarioCentro.distancia }}</td>
<td>{{ relacionUsuarioCentro.tiempo }}</td>
<td>{{ relacionUsuarioCentro.observaciones }}</td>

<td>
  <button type="submit" class="btn btn-outline-secondary btn-modify" [routerLink]="['/relaciones_usuario_centro/modificar', relacionUsuarioCentro.id]">
    <i class="fa fa-pen"></i>
  </button>
  <button type="submit" class="btn btn-delete m-1" (click)="modalConfirmacion()"
  ><i class="fa fa-trash"></i></button>
</td>
