<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/relacion_terminal_recurso_comunitario']">Relacion paciente persona</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear Relacion paciente persona</li>
      </ol>
    </nav>
    <h1 class="component-title" >Crear relacion paciente persona</h1>
    <form #crearRelacionForm="ngForm">

      <div class="form-group mb-3">
        <div class="form-group mb-3">
          <label for="pacientes" class="form-label">Nombre</label>
          <select class="form-select" id="pacientes" name="pacientes"
                  [(ngModel)]="relacionPacientePersona.id_paciente" required>
            <option class="relacion_terminal_option" *ngFor="let paciente of pacientes; let i = index"
                    [value]="paciente.id">{{ paciente.id_persona.nombre }}</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label for="personas" class="form-label">Persona</label>
          <select class="form-select" id="personas" name="personas"
                  [(ngModel)]="relacionPacientePersona.id_persona" required>
            <option class="relacion_recurso_option" *ngFor="let persona of personas; let i = index"
                    [value]="persona.id">{{ persona.nombre }} {{ persona.apellidos}}</option>
          </select>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="tipo_relacion" class="form-label">Tipo de relacion</label>
        <input type="text" name="tipo_relacion" id="tipo_relacion" class="form-control"
               required maxlength="500" [(ngModel)]="relacionPacientePersona.tipo_relacion" #tipo_relacion="ngModel">
        <div *ngIf="tipo_relacion.invalid && (tipo_relacion.dirty || tipo_relacion.touched)"
             class="alert alert-secondary" role="alert">
          <div *ngIf="tipo_relacion.errors?.required">
            La prioridad de expediente es obligatorio
          </div>
        </div>
      </div>
      <div class="form-check mb-3">
        <span>Tiene llaves de la vivienda</span>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="tiene_llaves_vivienda_true" required
                 name="tiene_llaves_vivienda" [value]="true" [(ngModel)]="relacionPacientePersona.tiene_llaves_vivienda">
          <label class="form-check-label" for="tiene_llaves_vivienda_true">Sí</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="tiene_llaves_vivienda_false"
                 name="tiene_llaves_vivienda" [value]="false" [(ngModel)]="relacionPacientePersona.tiene_llaves_vivienda">
          <label class="form-check-label" for="tiene_llaves_vivienda_false">No</label>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="disponibilidad" class="form-label">Disponibilidad</label>
        <textarea [(ngModel)]="relacionPacientePersona.disponibilidad" name="disponibilidad" id="disponibilidad" class="form-control" required></textarea>
      </div>

      <div class="form-group mb-3">
        <label for="observaciones" class="form-label">Observaciones</label>
        <textarea [(ngModel)]="relacionPacientePersona.observaciones" name="observaciones" id="observaciones" class="form-control" required></textarea>
      </div>

      <div class="form-group mb-3">
        <label for="prioridad" class="form-label">Prioridad</label>
        <input type="number" name="prioridad" id="prioridad" class="form-control"
               required maxlength="500" [(ngModel)]="relacionPacientePersona.prioridad" #prioridad="ngModel">
        <div *ngIf="prioridad.invalid && (prioridad.dirty || prioridad.touched)"
             class="alert alert-secondary" role="alert">
          <div *ngIf="prioridad.errors?.required">
            La prioridad de expediente es obligatorio
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-outline-success m-1" (click)="nuevaRelacionPacientePersona()"
              [disabled]="!crearRelacionForm.form.valid">
        Guardar
      </button>
      <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/relacion_paciente_persona']">
        Volver
      </button>

    </form>
  </div>
</main>
