<h1 class="component-title">Crear nuevo tipo alarma</h1>
  <form [formGroup]="formCrear" (submit)="nuevoTipoAlarma()" class="border-left">

    <div class="form-group mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" id="nombre" class="form-control" formControlName="nombre">
      <div *ngIf="f.nombre.invalid && (f.nombre.dirty || f.nombre.touched)" class="alert alert-secondary" role="alert">
        <div *ngIf="f.nombre.errors.required">
          El nombre es obligatorio
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="codigo" class="form-label">Código</label>
      <input type="text" name="codigo" id="codigo" class="form-control" formControlName="codigo">
      <div *ngIf="f.codigo.invalid && (f.codigo.dirty || f.codigo.touched)" class="alert alert-secondary" role="alert">
        <div *ngIf="f.codigo.errors?.required">
          El código es obligatorio
        </div>
      </div>
    </div>

    <div class="form-group mb-3">

        <div class="d-flex justify-content-start">Es dispositivo: &nbsp;</div>

      <div class="form-check form-check-inline">
        <input class="btn-check" type="radio" id="es_dispositivo_true"
               name="es_dispositivo" [value]="true" formControlName="es_dispositivo"  autocomplete="off" (click)="elegirOpcion(true)">
        <label class="btn btn-success min50w" for="es_dispositivo_true" [ngClass]="opcion? '':'opacity-50'" > Sí </label>
      </div>
        <div class="form-check form-check-inline">
        <input class="btn-check" type="radio" id="es_dispositivo_false"
               name="es_dispositivo" [value]="false" formControlName="es_dispositivo" autocomplete="off" (click)="elegirOpcion(false)">
        <label class="btn btn-success min50w" for="es_dispositivo_false" [ngClass]="opcion? 'opacity-50':''"> No </label>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="clasificacion_alarma" class="form-label">Clasificación alarma</label>
      <ng-select id="clasificacion_alarma" name="clasificacion_alarma" formControlName="id_clasificacion_alarma">
        <ng-option class="clasificacion_alarma_option"
                *ngFor="let clasificacion_alarma of clasificaciones_alarmas"
                [value]="clasificacion_alarma.id">{{ clasificacion_alarma.nombre }} {{ clasificacion_alarma.codigo }}</ng-option>
      </ng-select>
    </div>

    <button type="submit" class="btn btn-outline-success m-1" data-bs-toggle="collapse"
            data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample"
            [disabled]="this.formCrear.invalid">
      Guardar
    </button>
    <button type="button" class="btn btn-outline-secondary m-1" (click)="mostratCrearTipo()" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample"><!-- [routerLink]="['/tipos_alarmas']"-->
      Cancelar
    </button>
  </form>

