<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/terminales']">Terminales</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear Terminal</li>
      </ol>
    </nav>
    <h1 class="component-title">Crear nuevo Terminal</h1>
    <form #nuevoTerminalForm="ngForm">
      <div class="form-group mb-3">

        <label for="numero_terminal" class="form-label">Numero Terminal</label>
        <input type="text" name="numero_terminal" id="numero_terminal" class="form-control"
               required maxlength="500" [(ngModel)]="terminal.numero_terminal" #numero_terminal="ngModel">
        <div *ngIf="numero_terminal.invalid && (numero_terminal.dirty || numero_terminal.touched)"
             class="alert alert-secondary" role="alert">
          <div *ngIf="numero_terminal.errors?.required">
            El numero del terminal es obligatorio
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="modo_acceso_vivienda" class="form-label">Modo de acceso a la vivienda</label>
        <input type="text" name="modo_acceso_vivienda" id="modo_acceso_vivienda" class="form-control"
                maxlength="500" [(ngModel)]="terminal.modo_acceso_vivienda" #modo_acceso_vivienda="ngModel">
        <div *ngIf="modo_acceso_vivienda.invalid && (modo_acceso_vivienda.dirty || modo_acceso_vivienda.touched)"
             class="alert alert-secondary" role="alert">
          <div *ngIf="modo_acceso_vivienda.errors?.required">
            El modo_acceso_vivienda es obligatorio
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="barreras_arquitectonicas" class="form-label">Barreras Arquitectonicas</label>
        <input type="text" name="barreras_arquitectonicas" id="barreras_arquitectonicas" class="form-control"
               maxlength="1000" [(ngModel)]="terminal.barreras_arquitectonicas">
      </div>
      <div class="form-group mb-3">
        <label for="titular" class="form-label">Titular</label>
        <select class="form-select" id="titular" name="titular"
                [(ngModel)]="terminal.id_titular" required>
          <option *ngFor="let titular of titulares; let i = index"
                  [value]="titular.id">{{ titular.id_persona.nombre }}</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label for="tipo_vivienda" class="form-label">Tipo Vivienda</label>
        <select class="form-select" id="tipo_vivienda" name="tipo_vivienda"
                [(ngModel)]="terminal.id_tipo_vivienda" required>
          <option *ngFor="let vivienda of tipo_vivienda; let i = index"
                  [value]="vivienda.id">{{ vivienda.nombre }}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-outline-success m-1" (click)="nuevoTerminal()"
              [disabled]="!nuevoTerminalForm.form.valid">
        Guardar
      </button>
      <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/terminales']">
        Volver
      </button>

    </form>
  </div>
</main>
