<main class="p-0 m-0">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-xl-6">
      <form [formGroup]="formulario">
        <div class="row mb-3 form-group">
          <div class="form-group">
            <label for="fecha_alta" class="form-label text-start">Fecha de Alta <span
              class="obligatorios">*</span></label>
            <input type="date" name="fecha_alta " id="fecha_alta" class="form-control "
                   max='{{getToday()}}'
                   formControlName="fecha_alta">
          </div>
<!--          <div *ngIf="controles.fecha_nacimiento.errors?.fechaExcedida" class="alert alert-secondary" role="alert">-->
<!--            <span>La fecha de nacimiento no puede ser mayor a la actual.</span>-->
<!--          </div>-->
        </div>


        <!-- comienzo tipos de situacion -->

        <div class="row mb-3 form-group">
          <label class="form-label text-start">Situaciones <span
            class="obligatorios">*</span></label>
          <div class="col-12 col-lg-9 pb-1 pb-lg-0">
            <ng-select id="situaciones" formControlName="situaciones">
              <ng-option *ngFor="let tipoSituacion of listaDeSituaciones; let i = index"
                         [value]="tipoSituacion.id">{{tipoSituacion.nombre}}</ng-option>
            </ng-select>
          </div>
          <div class="col-4 col-lg-1  p-0">
            <button class="btn btn-success botonOperacion" type="button"
                    data-bs-toggle="collapse" data-bs-target="#situaciones" aria-expanded="false"
                    aria-controls="situaciones">
              <i class="fa-solid fa-circle-plus"></i>
            </button>
          </div>
          <div class="col-4 col-lg-1  p-0">
            <button class="btn btn-warning botonOperacion" id="des1" type="button"
                    data-bs-toggle="collapse" data-bs-target="#situaciones2" aria-expanded="false"
                    aria-controls="situaciones2">
              <i class="fa fa-sharp fa-solid fa-pen fa-sm"></i>
            </button>
          </div>
          <div class="col-4 col-lg-1  p-0">
            <button class="btn btn-danger botonOperacion" id="des2" type="button">
              <i class="fa fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
        <!-- Fin tipos de situacion -->

        <!-- Comienzo Paneles editar tipos de situacion -->

        <!-- Fin Paneles editar tipos de situacion -->


        <!-- Comienzo Terminal y UCR -->

        <h3> Terminal y UCR</h3>
        <div class="row mb-3 form-group">
          <div class="col-6">
            <div class="form-group">
              <label for="numero_terminal" class="form-label text-start">Nº Terminal <span class="obligatorios">*</span></label>
              <input type="text" name="numero_terminal" id="numero_terminal" class="form-control "
                     placeholder="Nº Terminal" formControlName="numero_terminal">
            </div>
                        <div *ngIf="controles.numero_terminal.invalid && (controles.numero_terminal.dirty || controles.numero_terminal.touched)"
                             class="alert alert-secondary"
                             role="alert">
                          <span *ngIf="controles.numero_terminal.errors.required">El numero del terminal es obligatorio.</span>
                          <span *ngIf="controles.numero_terminal.errors.pattern">El numero del terminal no es válido.</span>
                        </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="modelo_terminal" class="form-label text-start">Modelo Terminal <span class="obligatorios">*</span></label>
              <input type="text" name="modelo_terminal" id="modelo_terminal" class="form-control "
                     placeholder="Modelo del Terminal" formControlName="numero_terminal">
            </div>
                      <div *ngIf="controles.modelo_terminal.invalid && (controles.numero_terminal.dirty || controles.numero_terminal.touched)"
                           class="alert alert-secondary"
                           role="alert">
                        <span *ngIf="controles.modelo_terminal.errors.required">El modelo del terminal es obligatorio.</span>
                        <span *ngIf="controles.modelo_terminal.errors.pattern">El modelo del terminal no es válido.</span>
                      </div>
          </div>
        </div>


        <!-- Fin Terminal y UCR -->


        <button type="submit" class="btn btn-outline-success m-1">
          Guardar
        </button>
        <button type="button" class="btn btn-outline-secondary m-1">
          Volver
        </button>

      </form>
    </div>
  </div>
</main>

