<form [formGroup]="formAnadir" (submit)="subirPost()" class="mb-3" class="border-0">
  <div class="row  m-0" id="borrar">
  <h6>{{clasificacion?.nombre}}</h6>
    <ng-container *ngIf="this.alarma?.estado_alarma =='Abierta'">
        <div class="col-12 col-sm-10 p-0">
          <!-- Mostramos en el caso de que estemos en el caso de recursos sanitarios-->
          <ng-select *ngIf="this.tipo_recurso" formControlName="tipo_recurso">
            <ng-container *ngFor="let recurso of this.tipo_recurso">
                <ng-option [value]="recurso?.id_recurso_comunitario">{{recurso?.id_recurso_comunitario?.nombre}}</ng-option>
              </ng-container>
          </ng-select>
          <!-- Mostramos en el caso de que estemos en el caso de recursos NO sanitarios-->
          <ng-select  *ngIf="this.tipo_recurso_no_sanitarios" formControlName="tipo_recurso">
            <ng-container *ngFor="let recurso of this.tipo_recurso_no_sanitarios">
              <ng-option [value]="recurso">{{recurso?.nombre}}</ng-option>
            </ng-container>
          </ng-select>
        </div>
        <div class="col-12 col-sm-2 p-0">
          <button class="btn btn-info botonOperacion" [disabled]="this.formAnadir.invalid"><i class="fa-solid fa-arrow-down"></i></button>
        </div>
    </ng-container>
    <div class="m-0 p-0" id="{{this.minusculas(clasificacion?.nombre)}}">
      <div class="row m-0 mb-1 mt-1 p-2 align-items-center justify-content-center borde "
           *ngFor="let recurso_alarma of this.recursos_en_alarma"
           id="{{this.minusculas(recurso_alarma?.id_recurso_comunitario?.nombre)}}">
        <div class="p-0" [ngClass]="this.alarma?.estado_alarma =='Abierta'?'col-9 col-sm-10 textoIzq':'col-12 textoCent'" >{{recurso_alarma?.id_recurso_comunitario?.nombre}}</div>
        <div class="col-3 col-sm-2  p-0" *ngIf="this.alarma?.estado_alarma =='Abierta'"><button class="btn btn-danger boton" type="button" (click)="borrarRecurso(recurso_alarma,clasificacion?.nombre)"><i class="fa fa-solid fa-trash"></i></button></div>
      </div>
    </div>
    </div>
</form>

