<form [formGroup]="formAnadir" (submit)="subirPost(clasificacion?.nombre)" class="mb-3">
  <div class="row m-0">
  <h6>{{clasificacion?.nombre}}</h6>
  <div class="col-12 col-sm-10 p-0">
    <ng-select  formControlName="tipo_recurso">
      <ng-container *ngFor="let recurso of this.tipo_recurso">
          <ng-option [value]="recurso">{{recurso?.id_recurso_comunitario?.nombre}}</ng-option>
        </ng-container>
    </ng-select>
  </div>
  <div class="col-12 col-sm-2 p-0">
    <button class="btn btn-success botonOperacion" [disabled]="this.formAnadir.invalid"  ><i class="fa fa-solid fa-plus"></i></button>
  </div>
    <div class="row m-0">
      <ul id="{{minusculas(clasificacion?.nombre)}}">

      </ul>
    </div>
  </div>
</form>

