<td>{{ centroSanitarioAlarma.id_alarma?.id}}</td>
<td>{{ centroSanitarioAlarma.id_alarma?.estado_alarma }}</td>
<td>{{ centroSanitarioAlarma.persona }}</td>
<td>{{ centroSanitarioAlarma.id_centro_sanitario?.nombre}}</td>
<td>{{ centroSanitarioAlarma.id_centro_sanitario?.telefono }}</td>
<td>{{ centroSanitarioAlarma.acuerdo_alcanzado }}</td>
<td>{{ centroSanitarioAlarma.fecha_registro | date : 'dd/MM/YYYY'}}</td>
<td>
  <button type="submit" class="btn btn-outline-secondary btn-modify" [routerLink]="['/centro_sanitario_alarma/modificar', centroSanitarioAlarma.id]">
    <i class="fa fa-pen"></i>
  </button>
  <button type="submit" class="btn btn-delete m-1" (click)="modalConfirmacion()"
  ><i class="fa fa-trash"></i></button>
</td>

