<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/historico_situaciones']">Histórico de tipos de situación</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear histórico tipo de situación</li>
      </ol>
    </nav>
    <h1 class="component-title">Crear histórico tipo de situación</h1>
    <form #nuevoHistoricoTipoSituacionForm="ngForm">

      <div class="form-group mb-3">
        <label for="id_tipo_situacion" class="form-label">Tipo de situación</label>
        <select name="id_tipo_situacion" id="id_tipo_situacion" [(ngModel)]="historico_tipo_situacion.id_tipo_situacion"
                #id_tipo_situacion="ngModel" class="form-select" required>
          <option *ngFor="let tipo_situacion of tipos_situaciones" [value]="tipo_situacion.id">{{tipo_situacion.nombre}}</option>
        </select>
        <div *ngIf="id_tipo_situacion.invalid && (id_tipo_situacion.dirty || id_tipo_situacion.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="id_tipo_situacion.errors?.required">
            El campo tipo situación es obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="id_terminal" class="form-label">Tipo de situación</label>
        <select name="id_terminal" id="id_terminal" [(ngModel)]="historico_tipo_situacion.id_terminal"
                #id_terminal="ngModel" class="form-select" required>
          <option *ngFor="let terminal of terminales" [value]="terminal.id">{{terminal.numero_terminal}}</option>
        </select>
        <div *ngIf="id_terminal.invalid && (id_terminal.dirty || id_terminal.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="id_terminal.errors?.required">
            El campo terminal es obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input type="date" name="fecha" id="fecha" class="form-control"
               required maxlength="200" [(ngModel)]="historico_tipo_situacion.fecha" #fecha="ngModel">
        <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="fecha.errors?.required">
            La fecha es obligatoria
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-outline-success m-1" (click)="crearHistoricoTipoSituacion()"
              [disabled]="!nuevoHistoricoTipoSituacionForm.form.valid">
        Guardar
      </button>
      <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/historico_situaciones']">
        Volver
      </button>

    </form>
  </div>
</main>
