<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/historico_agenda']">Histórico agendas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear histórico de agenda</li>
      </ol>
    </nav>
    <h1 class="component-title">Crear histórico de agenda</h1>
    <form #crearHistoricoAgenda="ngForm">

      <div class="form-group mb-3">
        <label for="idPaciente" class="form-label">Paciente</label>
        <input type="text" name="idPaciente" id="idPaciente" class="form-control"
               required maxlength="200" [(ngModel)]="agenda.id_paciente.id_persona.nombre" disabled>
      </div>

      <div class="form-group mb-3">
        <label for="telefonoPaciente" class="form-label">Teléfono del paciente</label>
        <input type="text" name="telefonoPaciente" id="telefonoPaciente" class="form-control"
               required maxlength="200" [(ngModel)]="agenda.id_paciente.id_persona.telefono_movil" disabled>
      </div>

      <div class="form-group mb-3">
        <label for="id_tipo_agenda" class="form-label">Tipo agenda</label>
        <input type="text" name="id_tipo_agenda" id="id_tipo_agenda" class="form-control"
               required maxlength="200" [(ngModel)]="agenda.id_tipo_agenda.nombre" disabled>
      </div>

      <div class="form-group mb-3">
        <label for="fecha_prevista" class="form-label">Fecha prevista</label>
        <input type="date" name="fecha_prevista" id="fecha_prevista" class="form-control"
               required maxlength="200" [(ngModel)]="agenda.fecha_prevista" #fecha_prevista="ngModel" disabled>
        <div *ngIf="fecha_prevista.invalid && (fecha_prevista.dirty || fecha_prevista.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="fecha_prevista.errors?.required">
            La fecha prevista es obligatoria.
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="observacionesPaciente" class="form-label">Observaciones</label>
        <textarea disabled rows="5" cols="50" name="observacionesPaciente" id="observacionesPaciente" class="form-control"
                  required maxlength="200" [(ngModel)]="agenda.observaciones" #observaciones="ngModel"></textarea>
        <div *ngIf="observaciones.invalid && (observaciones.dirty || observaciones.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="observaciones.errors?.required">
            La fecha prevista es obligatoria.
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="id_agenda" class="form-label">Agenda</label>
        <select name="id_agenda" id="id_agenda" [(ngModel)]="historico_agenda.id_agenda" disabled
                #id_agenda="ngModel" class="form-select" required>
          <option class="agenda_id_option" *ngFor="let agendaObj of agendas; let i = index" [value]="agendaObj.id">
            {{ agenda.id === agendaObj.id ? optionSelected(i) : "" }}
            {{ agendaObj.id + ' - ' + agendaObj.id_tipo_agenda.nombre}}
          </option>
        </select>
        <div *ngIf="id_agenda.invalid && (id_agenda.dirty || id_agenda.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="id_agenda.errors?.required">
            El campo agenda es obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="id_teleoperador" class="form-label">Teleoperador</label>
        <select name="id_teleoperador" id="id_teleoperador" [(ngModel)]="historico_agenda.id_teleoperador"
                #id_teleoperador="ngModel" class="form-select" required>
          <option *ngFor="let teleoperador of teleoperadores; let i = index" [value]="teleoperador.id">
            {{teleoperador.first_name + ' ' + teleoperador.last_name}}
          </option>
        </select>
        <div *ngIf="id_teleoperador.invalid && (id_teleoperador.dirty || id_teleoperador.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="id_teleoperador.errors?.required">
            El campo terminal es obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="fecha_llamada" class="form-label">Fecha de llamada</label>
        <input type="date" name="fecha_llamada" id="fecha_llamada" class="form-control"
               required maxlength="200" [(ngModel)]="historico_agenda.fecha_llamada" #fecha_llamada="ngModel">
        <div *ngIf="fecha_llamada.invalid && (fecha_llamada.dirty || fecha_llamada.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="fecha_llamada.errors?.required">
            La fecha es obligatoria
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="observaciones" class="form-label">Observaciones</label>
        <textarea rows="5" cols="50" name="observaciones" id="observaciones" class="form-control"
                  required maxlength="200" [(ngModel)]="historico_agenda.observaciones" #observaciones="ngModel"></textarea>
        <div *ngIf="observaciones.invalid && (observaciones.dirty || observaciones.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="observaciones.errors?.required">
            El campo observaciones es obligatorio
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-outline-success m-1" (click)="nuevoHistoricoAgenda()"
              [disabled]="!crearHistoricoAgenda.form.valid">
        Guardar
      </button>
      <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/agenda']">
        Volver
      </button>

    </form>
  </div>
</main>

