<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/historico_agenda']">Histórico agendas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear histórico de agenda</li>
      </ol>
    </nav>
    <h1 class="component-title">Crear histórico de agenda</h1>
    <form [formGroup]="nuevoHistorico" (ngSubmit)="onSubmit()">

      <div class="form-group mb-3">
        <label for="paciente" class="form-label">Persona a cargo</label>
        <input type="text" name="paciente" id="paciente" class="form-control"
               required maxlength="200" formControlName="paciente" disabled>
      </div>

      <div class="form-group mb-3">
        <label for="telefonoPaciente" class="form-label">Teléfono del paciente</label>
        <input type="text" name="telefonoPaciente" id="telefonoPaciente" class="form-control"
               required maxlength="200" formControlName="movil_paciente" disabled>
      </div>

      <div class="form-group mb-3">
        <label for="id_tipo_agenda" class="form-label">Tipo agenda</label>
        <input type="text" name="id_tipo_agenda" id="id_tipo_agenda" class="form-control"
               required maxlength="200" formControlName="tipo_agenda" disabled>
      </div>

      <div class="form-group mb-3">
        <label for="fecha_prevista" class="form-label">Fecha prevista</label>
        <input type="datetime-local" name="fecha_prevista" id="fecha_prevista" class="form-control"
               required maxlength="200" formControlName="fecha_prevista" disabled>
        <div *ngIf="form.fecha_prevista.invalid && (form.fecha_prevista.dirty || form.fecha_prevista.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="form.fecha_prevista.errors?.required">
            La fecha prevista es obligatoria.
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="observacionesPaciente" class="form-label">Observaciones</label>
        <textarea disabled rows="5" cols="50" name="observacionesPaciente" id="observacionesPaciente" class="form-control"
                  required maxlength="200" formControlName="observaciones"></textarea>
        <div *ngIf="form.observaciones.invalid && (form.observaciones.dirty || form.observaciones.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="form.observaciones.errors?.required">
            La fecha prevista es obligatoria.
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="id_agenda" class="form-label">Agenda</label>
        <input name="id_agenda" id="id_agenda" formControlName="agenda" disabled
                class="form-select" required>
        <div *ngIf="form.agenda.invalid && (form.agenda.dirty || form.agenda.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="form.agenda.errors?.required">
            El campo agenda es obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="id_teleoperador" class="form-label">Teleoperador</label>
        <select name="id_teleoperador" id="id_teleoperador" formControlName="teleoperador" class="form-select" required disabled>
          <option *ngFor="let teleoperador of teleoperadores; let i = index" [value]="teleoperador.id">
            {{teleoperador.first_name + ' ' + teleoperador.last_name}}
          </option>
        </select>
        <div *ngIf="form.teleoperador.invalid && (form.teleoperador.dirty || form.teleoperador.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="form.teleoperador.errors?.required">
            El campo terminal es obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="fecha_llamada" class="form-label">Fecha de llamada</label>
        <input type="datetime-local" name="fecha_llamada" id="fecha_llamada" class="form-control"
               required maxlength="200" formControlName="fecha_llamada" disabled>
        <div *ngIf="form.fecha_llamada.invalid && (form.fecha_llamada.dirty || form.fecha_llamada.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="form.fecha_llamada.errors?.required">
            La fecha es obligatoria
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="observaciones" class="form-label">Observaciones</label>
        <textarea rows="5" cols="50" name="observaciones" id="observaciones" class="form-control"
                  required maxlength="200" formControlName="observaciones_historico"></textarea>
        <div *ngIf="form.observaciones_historico.invalid && (form.observaciones_historico.dirty || form.observaciones_historico.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="form.observaciones_historico.errors?.required">
            El campo observaciones es obligatorio
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-outline-success m-1" (click)="nuevoHistoricoAgenda()"
              [disabled]="!nuevoHistorico.valid">
        Guardar
      </button>
      <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/agenda']">
        Volver
      </button>

    </form>
  </div>
</main>

