<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/tipo_agenda']">Tipos de agenda</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear tipo de agenda</li>
      </ol>
    </nav>
    <h1 class="component-title">Crear nuevo tipo agenda</h1>
    <form #nuevoTipoAgendaForm="ngForm">

      <div class="form-group mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" name="nombre" id="nombre" class="form-control"
               required maxlength="200" [(ngModel)]="tipo_agenda.nombre" #nombre="ngModel">
        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="nombre.errors?.required">
            El nombre es obligatorio
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="codigo" class="form-label">Código</label>
        <input type="text" name="codigo" id="codigo" class="form-control"
               required maxlength="200" [(ngModel)]="tipo_agenda.codigo" #codigo="ngModel">
        <div *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="codigo.errors?.required">
            El codigo es obligatorio
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="importancia" class="form-label">Importancia</label>
        <select name="importancia" id="importancia" [(ngModel)]="tipo_agenda.importancia"
                #importancia="ngModel" class="form-select" required>
          <option *ngFor="let importancia of importanciaArray" [value]="importancia">{{importancia}}</option>
        </select>
        <div *ngIf="importancia.invalid && (importancia.dirty || importancia.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="importancia.errors?.required">
            El campo importancia es obligatorio
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-outline-success m-1" (click)="nuevoTipoAgenda()"
              [disabled]="!nuevoTipoAgendaForm.form.valid">
        Guardar
      </button>
      <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/tipo_agenda']">
        Volver
      </button>

    </form>
  </div>
</main>

